h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
}

h2 {
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 1.35;
}

@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }
}
